foreach/src/main/mule/foreach.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c4963f22-52ad-46ba-84c2-f21aa90fe985" >
		<http:listener-connection host="0.0.0.0" port="8083" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="1d61a598-a6db-4bbc-90f4-b62f2869c83a" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="teja$1234" database="foreachab" />
	</db:config>
	<flow name="foreachFlow" doc:id="8c0262b7-31d1-494b-9e48-bc47d448f3b5" >
		<http:listener doc:name="Listener" doc:id="7e097441-2f3a-42cf-8f70-c9d5d9cab1d8" config-ref="HTTP_Listener_config" path="foreach"/>
		<ee:transform doc:name="Transform Message" doc:id="8f2cc9cb-1aeb-4cd1-95c9-c840c8eab357" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
1 to 300 map {
	empid: if ($$==5) "mulesoft" else 100+ $$,
	empname: "navateja",
	empage: 56,	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="foreachBatch_Job" doc:id="59e965ca-ed94-4912-af47-6c9026c7b393" >
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="2ce09e4c-eee3-4a2e-b0c6-f7492579262c" >
					<batch:aggregator doc:name="Batch Aggregator" doc:id="0fd52241-a0de-4059-a28f-47371c171aff" size="5">
						<db:bulk-insert doc:name="Bulk insert" doc:id="4fcc7290-0989-43f5-b73e-102191bcb81a" config-ref="Database_Config">
							<db:sql ><![CDATA[insert into emp. (empid, empname, empage) values( :empid, :empname, :empage);]]></db:sql>
						</db:bulk-insert>
						<logger level="INFO" doc:name="Logger" doc:id="7ec35eaa-6c79-46f1-b54a-7037a1b4ae7a" message="#[paylaod]" />
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete>
				<ee:transform doc:name="Transform Message" doc:id="404b80cd-2c4c-4d59-94af-9f330c4a3bc2" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="59e90359-4d36-4e6c-a42f-9ef4ab876262" message="#[payload]"/>
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
