data/src/main/mule/data.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d5a9b838-8ff9-4c61-ace8-eb9b202ef12e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dataFlow" doc:id="a8b1b5d7-6e4d-4bf6-89e0-f03fbffb70dd" >
		<http:listener doc:name="Listener" doc:id="3a5fc96e-0d55-44bb-963f-3c65d971b26b" config-ref="HTTP_Listener_config" path="date"/>
		<ee:transform doc:name="Transform Message" doc:id="92ba955e-6022-46f5-85ef-6c7d65512fcd" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="formatteddate" ><![CDATA[%dw 2.0

output application/json
---
formatteddate: now() as String { format: "dd,MMMM,y"}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e56d261d-4042-48c2-82e0-2b16bafc57e4" message="#[payload]"/>
	</flow>
</mule>
